main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 3vw;
}

h1 {
	font-family: var(--font-iceland);
	font-size: 170px;
	color: var(--color-steelblue);
	margin-bottom: 2vw;
}

p {
	font-family: var(--font-inter);
	font-size: 25px;
	color: var(--color-white);
	margin-left: 17vw;
	margin-right: 20vw;
	text-align: left;
}

.shaders {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3vw;
  gap: 2vw;
}

iframe {
  width: 70vw;
  height: 40vw;
}

a {
  color: var(--color-white);
}