body {
  background-color: var(--color-gray);
}

main {
  display: flex;
  height: calc(100vh - 80px);
  justify-content: center;
  align-items: center;
}

.carousel-control-prev, .carousel-control-next {
  width: 10%;
}

.carousel-control-prev:hover, .carousel-control-next:hover {
  background-color: rgba(255, 255, 255, 0.425);
}

.carousel-control-prev-icon {
  background-image: url(assets/prev_icon.svg);
}

.carousel-control-next-icon {
  background-image: url(assets/next_icon.svg);
}