main {
  display: flex;
  height: calc(100vh - 80px);
  justify-content: center;
  align-items: center;
}

.carousel-control-prev, .carousel-control-next {
  width: 10%;
}

.carousel-control-prev {
  left: -10%;
}

.carousel-control-next {
  right: -10%;
}



.carousel-control-prev-icon {
  background-image: url(assets/prev_icon.svg);
}

.carousel-control-next-icon {
  background-image: url(assets/next_icon.svg);
}

.carousel-indicators {
  bottom: -10%;
}

@media screen and (max-width: 1500px) {
  .carousel-control-prev {
    left: -6%;
  }
  
  .carousel-control-next {
    right: -6%;
  }
  
  .carousel-indicators {
    bottom: -6%;
  }
}

  @media screen and (max-width: 1000px) {
    .carousel-control-prev {
      left: 0;
    }
    
    .carousel-control-next {
      right: 0;
    }
    
    .carousel-indicators {
      bottom: 0;
    }
  
  }