body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-iceland: Iceland;
  --font-inter: Inter;

  /* font sizes */
  --font-size-74xl: 93px;
  --font-size-11xl: 30px;

  /* Colors */
  --color-gray: #0f110c;
  --color-white: #fff;
  --color-lightsteelblue: #99afbf;
  --color-steelblue: #1e91d6;

  /* Paddings */
  --padding-311xl: 330px;
}
