body {
	margin: 0;
	line-height: normal;
	display: flex;
	flex-direction: column;
 	min-height: 100vh;
	font-size: var(--font-size-11xl);
	color: var(--color-white);
	font-family: var(--font-inter);
}

header {
	background-color: var(--color-steelblue);
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	gap: 2vw;
	height: 80px;
}

.icon {
	width: 50px;
	height: auto;
	margin-left: 2vw;
	display: inline-block;
	position: relative;
}

.icon img {
	width: 100%;
	height: auto;
}

.icon:hover .normal {
	opacity: 0;
}

.icon .hover {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

.icon:hover .hover {
	display: inline;
	opacity: 1;
}

header a {
	color: var(--color-white);
	font-size: 30px;
	font-family: var(--font-inter);
}

header a:hover {
	color: var(--color-lightsteelblue);
}



a {
	text-decoration: none;
}

:root {
	/* fonts */
	--font-iceland: Iceland;
	--font-inter: Inter;

	/* font sizes */
	--font-size-74xl: 93px;
	--font-size-11xl: 30px;

	/* Colors */
	--color-gray: #0f110c;
	--color-white: #fff;
	--color-lightsteelblue: #99afbf;
	--color-steelblue: #1e91d6;

	/* Gaps */
	--gap-26xl: 45px;

	/* Paddings */
	--padding-311xl: 330px;
	--padding-11xl: 30px;
	--padding-114xl-5: 133.5px;
}
