main {
	display: flex;
	flex-direction: column;
}

main a {
	text-decoration: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--color-gray);
	height: 30vw;
	width: 100%;
	color: var(--color-steelblue);
	font-family: var(--font-iceland);
	font-size: 70px;
}

main h1 {
	margin-top: 10vh;
	margin-bottom: 20vh;
	text-align: center;
	color: var(--color-steelblue);
	font-size: 150px;
	font-family: var(--font-iceland);
}

main div {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
	margin-bottom: 20vh;
}


main a:hover {
	background-color: var(--color-lightsteelblue);
}

main div :first-child {
	border-right: 4px solid var(--color-lightsteelblue);
}

main div :last-child {
	border-left: 4px solid var(--color-lightsteelblue);
}



@media screen and (max-width: 1500px) {
	main a {
		font-size: 50px;
	}

	main h1 {
		font-size: 100px;
	}
}

@media screen and (max-width: 960px) {
	main div {
		flex-direction: column;;
		margin-bottom: 0;
	}

	main div :first-child {
		border-bottom: 4px solid var(--color-lightsteelblue);
		border-right: none;
	}

	main div :last-child {
		border-top: 4px solid var(--color-lightsteelblue);
		border-left: none;
	}

	main a {
		height: 50vw;
	}

	main h1 {
		margin-bottom: 5vh;
	}

}

@media screen and (max-width: 450px) {
	main a {
		font-size: 40px;
	}

	main h1 {
		font-size: 50px;
	}
}
