main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 3vw;
	margin-bottom: 5vw;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

h1 {
	margin-top: 10vh;
	margin-bottom: 20vh;
}

h1 a {
	text-align: center;
	color: var(--color-steelblue);
	font-size: 150px;
	font-family: var(--font-iceland);
	text-decoration: none;
}

#projects-button {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20vh;
}

#projects-button a {
	color: var(--color-steelblue);
	text-decoration: none;
	font-family: var(--font-iceland);
	font-size: 100px;
}

@keyframes arrows {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(2vw);
	}

	100% {
		transform: translateY(0);
	}
}

#projects-button img {
	width: 7vw;
	animation-name: arrows;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-delay: 1s;
}

.carousel-control-prev,
.carousel-control-next {
	width: 10%;
}

.carousel-control-prev {
	left: -10%;
}

.carousel-control-next {
	right: -10%;
}

.carousel-control-prev-icon {
	background-image: url(assets/icons/prev_icon.svg);
}

.carousel-control-next-icon {
	background-image: url(assets/icons/next_icon.svg);
}

.carousel-indicators {
	bottom: -10%;
}

.description {
	margin-top: 1vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h2 {
	font-family: var(--font-iceland);
	font-size: 100px;
	color: var(--color-steelblue);
	margin-bottom: 1vw;
}

.carousel-container {
	width: 40vw;
	margin-top: 10vh;
}

.description-container {
	width: 40vw;
}

.description a {
	margin-top: 1vw;
	font-family: var(--font-inter);
	font-size: 25px;
	color: var(--color-white);
	text-decoration: none;
	border: 2px solid var(--color-white);
	padding: 0.5vw;
	border-radius: 5px;
}

.description a:hover {
	background-color: var(--color-steelblue);
}

.container-lg {
	margin-bottom: 2vw;
}

.tags-container {
	display: flex;
	flex-direction: row;
	gap: 2vw;
	margin-bottom: 2vw;
}

.tag {
	font-family: var(--font-inter);
	font-size: 20px;
	color: var(--color-white);
	background-color: var(--color-steelblue);
	padding: 0.5vw;
	border-radius: 5px;
}

@media screen and (max-width: 1500px) {
	.carousel-control-prev {
		left: -6%;
	}

	h1 a {
		font-size: 100px;
	}

	h1 {
		margin-bottom: 5vh;
	}

	#projects-button {
		margin-bottom: 0;
	}

	#projects-button a {
		font-size: 70px;
	}

	#projects-button img {
		width: 10vw;
	}

	.carousel-control-next {
		right: -6%;
	}

	.carousel-indicators {
		bottom: -6%;
	}

	.carousel-container,
	.description-container {
		width: 60vw;
	}
}

@media screen and (max-width: 1200px) {
	.carousel-control-prev {
		left: 0;
	}

	.carousel-control-next {
		right: 0;
	}

	.carousel-indicators {
		bottom: 0;
	}

	h2 {
		font-size: 60px;
	}
}

@media screen and (max-width: 750px) {
	h2 {
		font-size: 40px;
	}

	h1 a {
		font-size: 70px;
	}

	#projects-button a {
		font-size: 50px;
	}

	.description a {
		font-size: 15px;
	}

	.tag {
		font-size: 15px;
	}
}

@media screen and (max-width: 520px) {
	h1 a {
		font-size: 50px;
	}

	#projects-button a {
		font-size: 40px;
	}

	.tags-container {
		gap: 3vw;
	}

	.tag {
		font-size: 15px;
		padding: 1.5vw;
	}

	.description {
		gap: 20px;
	}

	h2 {
		font-size: 30px;
	}
}
