.game-development,
.navbar {
  display: flex;
  align-items: center;
}
.navbar {
  align-self: stretch;
  height: 1080px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
}
.game-development {
  position: relative;
  justify-content: center;
  width: 642.6px;
}
.computer-graphics-,
.game-development- {
  text-decoration: none;
  background-color: var(--color-gray);
  box-sizing: border-box;
  width: 964px;
  height: 980px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-311xl) 0;
  color: inherit;
}
.game-development- {
  border-right: 4px solid var(--color-white);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.computer-graphics-:hover,
.game-development-:hover {
  background-color: var(--color-lightsteelblue);
}
.computer-graphics- {
  border-left: 4px solid var(--color-white);
}
.computer-graphics-,
.home,
.main-page {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.main-page {
  height: 980px;
  flex-direction: row;
  margin-top: -980px;
}
.home {
  position: relative;
  background-color: var(--color-gray);
  width: 100%;
  height: 1079.9px;
  overflow: hidden;
  flex-direction: column;
  text-align: center;
  font-size: var(--font-size-74xl);
  color: var(--color-steelblue);
  font-family: var(--font-iceland);
}
@media screen and (max-width: 960px) {
  .navbar {
    align-self: stretch;
    width: auto;
  }
  .computer-graphics- {
    align-items: center;
    justify-content: flex-start;
  }
  .main-page {
    flex-direction: column;
  }
}
