.about-me {
  text-decoration: none;
  position: relative;
  color: inherit;
}
.links {
  position: absolute;
  top: 0;
  left: 0;
  width: 783px;
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-26xl);
}
.home-app-logo-icon {
  position: absolute;
  height: 72.8%;
  width: 75.13%;
  top: 14.77%;
  right: 12.44%;
  bottom: 12.44%;
  left: 12.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.home-app-logo {
  text-decoration: none;
  position: absolute;
  top: -2.6px;
  left: -83.6px;
  width: 38.6px;
  height: 38.6px;
}
.navbar-links {
  position: relative;
  width: 783px;
  height: 36px;
}
.navbar1 {
  background-color: var(--color-steelblue);
  width: 1920px;
  height: 100px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-11xl) 133.5283203125px;
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
@media screen and (max-width: 960px) {
  .navbar1 {
    align-self: stretch;
    width: auto;
  }
}
